default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        # verbose prints help on how the message should look like
        # define types according to angular commit message convention
        # https://github.com/angular/angular/blob/main/contributing-docs/commit-message-guidelines.md#type
        args: [--verbose, feat, fix, build, ci, docs, perf, refactor, test, chore]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-format
        stages: [pre-commit]
      - id: ruff
        args: ["--fix"]
        types_or: [python, pyi] # Removed jupyter
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock
        stages: [pre-commit]
  # no official hook yet
  # https://github.com/astral-sh/ty/issues/269
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check .
        language: system
        types: [python]
        stages: [pre-commit]  # change to pre-push if desired
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        # skip integration tests, as these may take quite a long time
        # and require external dependencies
        entry: uv run pytest tests/unit
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
        stages: [pre-push]
